*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #1bb6e6;
    --clr-accent-two: #040d27;
    --clr-silver: #bdbcbc;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
  
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family:var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: var(--clr-dark);
    background-image: url(https://media.giphy.com/media/26n6CWImwECKu3fy0/giphy.gif);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height:100%;
    /* background: var(--clr-dark); */
    color: var(--clr-light);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.navlinks {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navlinks a {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.navlinks a:hover {
    color: var(--clr-accent);
}

.nav-toggle {
    color: var(--clr-silver);
    background: transparent;
    border: none;
    font-size: 2em;
    position: absolute;
    right: .5em;
    top: .5em;
    z-index: 1000;
}

.nav-toggle:hover {
    color: var(--clr-accent);
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

#today-date { 
    font-size: var(--fs-h3);
    margin-left: 1em;
    margin-top: 1.25em;
}

/* Intro section */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.portfolio-img { 
    box-shadow: 15px 5px 30px var(--clr-dark);
    width: 250px;
    z-index: 2;    
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 { 
    font-size: var(--fs-h1);
 }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

section { padding: 5em 2em; }

.section-title {
    margin-bottom: .25em;
    font-size: var(--fs-h1);
}

.para-subtitle {
    margin: 0;
    font-size: var(--fs-h3); 
}

.para-subtitle-accent {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    margin-bottom: 1em;
    padding: .25em 1em;
}

#intro { position: relative; }

.intro-info {
    padding-left: 1.5em;
    padding-bottom: 6em;
}

#para-subtitle-intro {
    position: absolute;
    width: 22.4em;
    bottom: 3.4em;
    left: 4.4em;
    height: 2em;
    text-align: right;
    font-size: 35px;
}

/* About me section */
#aboutMe {
    background-color: var(--clr-dark);
    background-image: url(background.jpg);
    color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    width: 100%;
    height:100%;
}

#about-me-title {color: var(--clr-silver);}
#about-me-section { padding: 2em 5em; }

.para-about {
    margin: 12px 10% 4px 8%; 
}

#about-me-sub {
    margin: 0px 16em 1em 0;
    height: 2.5em;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
}

/* Project pages */
.project-main {
    display: flex;
    margin-top: 3em;
}
.project-left {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 60%;
    padding-left: 2em;
    padding-top: 3em;
    margin-top: 1em;
}

#project-title {color: var(--clr-silver);}

#project-sub {
    margin: 0px 16em 1em 0;
    height: 2.5em;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
}

.para-project {
    margin: 12px 12% 4px 0%; 
}

.project-right {
    background: var(--clr-light);
    padding-right: 1em;
    padding-left: 1em;
}

#project-img {
    box-shadow: 15px 5px 30px var(--clr-dark);
    width: 38em;
    z-index: 2;
    margin-top: -4em;
}

/* #project-url {

} */

/* Works section */
#work-title, #work-sub {text-align: center;}

#work-title {margin-bottom: .15em;}

#work-sub {margin-bottom: 1.5em;}

.work-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item {
    overflow: hidden;
    height: 16em;
    width: 24em;
    margin: 0 5px 5px 0;
}

.work-img {
    height: 100%;
    width: 100%;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.work-img:hover {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */
#contactMe {
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-title {
    color: var(--clr-light);
    font-size: 1.7em;
    font-family: var(--ff-secondary);
    margin: 25px 0 25px 0;
}

.icon-item {
    font-size: 2em;
    color: var(--clr-silver);
    margin: 0px 30px 25px;
    text-decoration: none;
}

.icon-item:hover {
    color: var(--clr-dark);
    text-decoration: none;
}

/* Media Screens */
@media screen and (max-width:1199px){
    .intro-info {
        padding-left: 1.5em;
        padding-bottom: 6em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 22.8em;
        bottom: 3.9em;
        left: 1em;
        height: 2em;
        text-align: right;
        font-size: 35px;
    }
}

@media screen and (max-width:991px){
    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 26.6em;
        bottom: 7.7em;
        left: .25em;
        height: 2em;
        text-align: right;
        font-size: 24px;
    }
}

@media screen and (max-width:767.5px){
    #intro {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .intro-info {
        padding-bottom: 3em;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 2.5em;
        text-align: center;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 20em;
        bottom: 22.7em;
        left: 4.75em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:560.5px){
    #para-subtitle-intro {
        position: absolute;
        width: 18em;
        bottom: 22.7em;
        left: 4.75em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:520.5px){
    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
        text-align: center;
        margin-right: .5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 22.7em;
        left: 4.3em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:376px){
    .section-title {
        margin-bottom: .25em;
        font-size: 1.4em;
        text-align: center;
        margin-right: 1.5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 24em;
        left: 1.5em;
        height: 2em;
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width:361px){
    .section-title {
        margin-bottom: .25em;
        font-size: 1.3em;
        text-align: center;
        margin-right: 1.5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 24em;
        left: 1.25em;
        height: 2em;
        text-align: center;
        font-size: 17px;
    }
}