*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    --clr-accent-two: #040d27;
    --clr-silver: #807f7f;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
  
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family:var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

/* Intro section */
#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
}

.portfolio-img { 
    box-shadow: 15px 5px 30px var(--clr-dark);
    width: 250px;
    z-index: 2;    
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

#header-phrase {
    font-size: var(--fs-h2);
}

section {
    padding: 5em 2em;
}

.section-title {
    margin-bottom: .25em;
    font-size: var(--fs-h1);
}

/* #name {color: var(--clr-silver)}; */

.para-subtitle {
    margin: 0;
    font-size: var(--fs-h3); 
}

.para-subtitle-accent {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    color: var(--clr-light);
    margin-bottom: 1em;
    padding: .25em 1em;
}

.nav { display: none; }

#intro {
    position: relative;
}

.intro-info {
    padding-left: 1.5em;
    padding-bottom: 6em;
}

#para-subtitle-intro {
    position: absolute;
    width: 22.4em;
    bottom: 3.9em;
    left: 4em;
    height: 2em;
    text-align: right;
    font-size: 35px;
}

/* About me section */
.para-subtitle-about {
    margin: 12px 18% 4px 13% 
}

#about-me-sub {
    margin: 0px 47% 0 0%;
    height: 2.5em;
    text-align: center;
    padding-top: 8px;
    font-size: 1.5em;
}

/* Works section */
#work-title, #work-sub {text-align: center;}

.work-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item {
    height: 16em;
    width: 24em;
    margin: 0 5px 5px 0;
}

.work-img {
    height: 100%;
    width: 100%;
}



/* Media Screens */
@media screen and (max-width:1199px){
    .intro-info {
        padding-left: 1.5em;
        padding-bottom: 6em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 22.8em;
        bottom: 3.9em;
        left: 1em;
        height: 2em;
        text-align: right;
        font-size: 35px;
    }
}

@media screen and (max-width:991px){
    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 26.6em;
        bottom: 7.7em;
        left: .25em;
        height: 2em;
        text-align: right;
        font-size: 24px;
    }
}

@media screen and (max-width:767.5px){
    #intro {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .intro-info {
        padding-bottom: 3em;
    }

    .section-title {
        margin-bottom: .25em;
        font-size: 2.5em;
        text-align: center;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 20em;
        bottom: 22.7em;
        left: 4.75em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:560.5px){
    #para-subtitle-intro {
        position: absolute;
        width: 18em;
        bottom: 22.7em;
        left: 4.75em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:520.5px){
    .section-title {
        margin-bottom: .25em;
        font-size: 2em;
        text-align: center;
        margin-right: .5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 22.7em;
        left: 4.3em;
        height: 2em;
        text-align: center;
        font-size: 18px;
    }
}

@media screen and (max-width:376px){
    .section-title {
        margin-bottom: .25em;
        font-size: 1.4em;
        text-align: center;
        margin-right: 1.5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 24em;
        left: 1.5em;
        height: 2em;
        text-align: center;
        font-size: 17px;
    }
}

@media screen and (max-width:361px){
    .section-title {
        margin-bottom: .25em;
        font-size: 1.3em;
        text-align: center;
        margin-right: 1.5em;
    }
    
    #para-subtitle-intro {
        position: absolute;
        width: 17em;
        bottom: 24em;
        left: 1.25em;
        height: 2em;
        text-align: center;
        font-size: 17px;
    }
}